<!DOCTYPE html>
<html>
<head>
	<title>Find student by ID</title>
</head>
<body>
<p>
	Page loaded!
</p>

	<form action="/students/findbyid" method="GET">
	    <input type="text" name="id" placeholder="ID">
	    <a href="/students/idresult"><button type="submit">Find Student</button></a>
  	</form>

  </body>
</html>