#glasses {
	position: absolute;
	margin-left: 52.5%;
	margin-top: 100px;
	z-index: 0;
}

#octopus {
	position: relative;
	margin-left: 50%;
	margin-top: 10px;
	z-index: -1;
}

#hat {
	position: absolute;
	margin-left: 50%;
	z-index: 0;
}