#contact-info {
	font-size: .8em;
}
.job {
	background-color: #e9e5dc;
	border-radius: 25px;
	padding: 10px;
	margin-bottom: 8px;
	}
.accomplishments {
	font-size: .8em;
}

ul:hover {
	color: red;
}

#volunteer-experience h3 {	
	color: purple;
	font-size: 1.5em;
}